---
layout: base.njk
title: Search
permalink: /search/
---
<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<section class="index-section">
  <h1 class="page-title">Search</h1>
  <pagefind-input></pagefind-input>
  <pagefind-summary></pagefind-summary>
  <pagefind-results show-images/>
</section>
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>

